* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.cabeçalho {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}

.cabeçalho-imagem {
    width: 10%;
}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabeçalho-div {
    display: flex;
    align-items: center;
}

.cabeçalho-título {
    padding: 0 20px;
}

.jogos {
    background-image: linear-gradient(#000000, #b7d5e5);
    color: #ffffff;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.jogos-titulo {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 36px;
}

.imagem-3 {
    width: 80%;
    margin: auto;
}

.jogos-textos {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    font-size: 20px;
}

.ferramentas {
    background-color: #b7d5e5;
    padding: 50px 0;
    text-align: center;
}

.ferramenta-titulo {
    font-size: 36px;
    padding-bottom: 20px;
}

.ferramentas-todos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ferramentas-div {
    width: 200px;
    margin: 20px;
}

.aventuraimg {
    width: 100px;
    margin: auto;
}

.ferramentas-aventura {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}
